{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumita Pathak</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static '/site.webmanifest' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-gradient-to-r from-stone-900 via-sky-500 to-blue-800 m-10">
    {% include 'nav.html' %}
    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- {% include 'bottomnav.html' %} -->
     {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>